<h2>Cart</h2>

<div id="cart">
  <h3>Your cart</h3>
  <ul>
    <%= render @order.line_items %>
  </ul>
</div>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= product.description %>
      <%= form_for @order.line_items.new(product: product), remote: true do |f| %>
        <%= f.hidden_field :order_id %>
        <%= f.hidden_field :product_id %>
        <%= f.submit "Add to cart" %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= render :layout => 'form' do |f| %>
  <div class="field">
    <%= f.label :sales_rep %><br>
    <%= f.text_field :sales_rep %>
  </div>
<% end %>
